/**
 * app.css
 */

@import url('//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic');
@import url('//fonts.googleapis.com/css?family=Montserrat:400,400italic,700,700italic');

/* Sticky footer styles
-------------------------------------------------- */
html {
    margin: 1%;
    padding: 1%;
}

body {
    margin: 1%;
    padding: 1%;
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif !important;
    color: #4a4a4a;
}

h2, h3, legend {
    font-weight: bold;
}

img {
    margin: 0 auto;
    padding: 0;
    display: block;
}

input[type=text] {
    background-color: #efefef;
}

.error {
    font-weight: bold;
    color: #f00;
}

.main-header {
    margin: 25px 0 10px 0;
    padding: 0;
    text-align: center;
    color: #000;
}

.sub-header {
    margin: 10px 0 20px 0;
    padding: 0;
    text-align: center;
}

.center {
    text-align: center;
}

.footer {
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
    font-size: 0.9em;
}

.pad {
    margin: 25px 0 25px 0;
    padding: 25px 0 25px 0;
}

.pop-form {
    border-top: solid 1px #ccc;
    margin: 25px 0 0 0;
    padding: 25px 0 0 0;
}

.calc-active {
    display: block;
}

.calc-inactive {
    display: none;
}

.value-format {
    margin: 0 auto;
    display: block;
    font-size: 0.9em;
    text-align: center;
    width: 67%;
}

.value-format-list {
    margin: 15px auto 25px auto;
    display: block;
    font-size: 0.9em;
    width: 50% !important;
}

.warning {
    margin: 0 auto;
    font-size: 0.9em;
    display: block;
    text-align: center;
    width: 67%;
}

.instructions {
    display: block;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
    font-weight: normal;
    font-size: 0.60em;
    line-height: 1.4em;
}

.answer {
    margin: 0 0 40px 0;
    padding: 0;
    height: 100px;
    display: block;
}

.answer-box {
    margin: 0;
    padding: 20px 10px 10px 10px !important;
    border-radius: 3px;
    height: 70px;
    display: none;
    text-align: center;
}

.answer-box-double {
    margin: 0;
    padding: 5px 10px 10px 10px !important;
    border-radius: 3px;
    height: 70px;
    display: none;
    text-align: center;
}
.answer-bias {
    margin: 0 0 40px 0;
    padding: 0;
    min-height: 160px;
    overflow: auto;
    display: block;
}

.answer-box-bias {
    margin: 0 auto 25px auto !important;
    padding: 25px !important;
    border-radius: 3px;
    min-height: 160px;
    display: none;
    text-align: left;
    overflow: auto;
    border: solid 1px #ccc;
}

.hot {
    color: #f00;
}
.warm {
    color: darkorange;
}

.nominal {
    color: forestgreen;
}

.cool {
    color: dodgerblue;
}

.cold {
    color: blueviolet;
}

.bias-tube-1 {
    float: left;
    width: 44%;
}

.bias-tube-2 {
    float: right;
    width: 49%;
    border-left: solid 1px #ccc;
    padding-left: 5%;
}

#bias-form-fieldset-1 > dl > dd:nth-child(2), #bias-form-fieldset-1 > dl > dd:nth-child(5),
#bias-form-fieldset-1 > dl > dd:nth-child(10), #bias-form-fieldset-1 > dl > dd:nth-child(13){
    float: left;
    width: 49%;
}

#bias-form-fieldset-1 > dl > dd:nth-child(3), #bias-form-fieldset-1 > dl > dd:nth-child(6),
#bias-form-fieldset-1 > dl > dd:nth-child(11), #bias-form-fieldset-1 > dl > dd:nth-child(14) {
    float: right;
    width: 49%;
}

#bias-form-fieldset-1 > dl > dt:nth-child(4), #bias-form-fieldset-1 > dl > dt:nth-child(7),
#bias-form-fieldset-1 > dl > dt:nth-child(12), #bias-form-fieldset-1 > dl > dt:nth-child(15) {
    clear: both;
}


@media (max-width: 767.98px) {
    .value-format, .value-format-list, .warning {
        width: 100%;
    }

    .hide {
        display: none;
    }
}